<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class='container'>
    <div class='header box'>
        <div class='nav-container'>
            <div class='nav-box logo box'></div>
            <div class='nav-box nav '>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
                <div class='nav-btn box'></div>
            </div>
            <div class='nav-box accounts'>
                <div class="account-btn box"></div>
                <div class="cart-btn box"></div>
                <div class="search-btn box"></div>
            </div>
        </div>
    </div>
    <div class='banner box'></div>    
    <div class='body'>
        <div class='content-body'>
            <div class="content-head box"></div>
            <div class="content-text box"></div>
            <div class="content-img box"></div>
        </div>
        <div class="chat box"></div>
    </div>
    
    <div class='footer box'>
        <div class='footer-content box'></div>
    </div>
  </div>